:root {
  --primary-white-color: #ffffff;
  --primary-sonic-color: #757575;
  --primary-blue-color: #2196f3;
  --primary-black-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-black-color);
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* HAD PROJECT */
.logo {
  color: var(--primary-blue-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo .black {
  color: #000000;
}
.site-nav .link {
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-blue-color);
}
.site-nav .current {
  color: var(--primary-blue-color);
}
.contact-header-list .link {
  color: var(--primary-sonic-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-header-list .link:hover,
.contact-header-list .link:focus {
  color: var(--primary-blue-color);
}
/* MAIN PROJECT */
.banner {
  background-color: #2f303a;
}
.banner-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.banner-button {
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.banner-button:hover,
.banner-button:focus {
  background-color: #188ce8;
}
.peculiarities-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.peculiarities-list p {
  color: var(--primary-sonic-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: #f5f4fa;
}
.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list p {
  color: var(--primary-sonic-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio .buttons {
  background-color: #f5f4fa;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio .buttons:hover,
.portfolio .buttons:focus {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
.portfolio-list h2 {
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .description {
  color: var(--primary-sonic-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* FOOTER PROJECT */
.site-footer {
  background-color: #2f303a;
}
.logo .white {
  color: var(--primary-white-color);
}
.contact-footer-list .link {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-footer-list .link:hover,
.contact-footer-list .link:focus {
  color: var(--primary-blue-color);
}
.contact-footer-list .transparent {
  color: rgba(255, 255, 255, 0.6);
}
